body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #71C9CE;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #344FA1;
  font-weight: bolder;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bolder;
  font-size: 1.5rem;
}

a {
  color: ##11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  width: 4%;
  border: dotted #EAF6F6 6px;
  border-spacing: 5px;
  border-bottom: none;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #CBF1F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 430px;
  top: 50px;
}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}


.programming-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cycling {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.contact-me {
  padding: 100px;
  width: 40%;
  margin: 40px auto 60px;

}


.intro {
  width: 30%;
  margin: auto;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;

}

.btn {
   background: #11CDDF;
   background-image: -webkit-linear-gradient(top, #11CDDF, #11999E);
   background-image: -moz-linear-gradient(top, #11CDDF, #11999E);
   background-image: -ms-linear-gradient(top, #11CDDF, #11999E);
   background-image: -o-linear-gradient(top, #11CDDF, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDDF, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;;
   font-size: 20px;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
